* {
    font-family: Verdana, Arial, sans-serif;
    color: white;
    font-size: 14px;
    line-height: 19px;
}

h1 {
    padding-top:40px;
    font-size: 5em;
    text-align:center;
}

p {
    padding-top:25px;
    padding-bottom:25px;
    padding-right:50px;
    padding-left:50px;

    word-break:break-all;
}

* body {
    background-color: black;
    background-image:url("img/wall2.jpg");
    background-position: top center;
    background-repeat:no-repeat;
}

#topmenu {
    text-align:center;
}
