* { 
	background-color: #617896; 
	padding: 6px;
	font-family: verdama, sans-serif;
	font-size: 14px;
}

body * { 
	color: white; 
}

h1{
	font-size: 50px;
}

h2 {
	font-family: "Times New Roman", serif;
	margin-top: 50px;
	text-align:center;
}

h2:first-line {
	background-color: red;
}

#firstP.paragraph:before { 
	content: "> ";
} 

p:first-letter {
	font-size:1.8em; color: red;
}

ul li li {
	color: #FFFF00;
}

ul li li a {
	color: #008D00;
	background-color: yellow;
	margin-left: 35px;
}

ol li {
	list-style: circle;
	margin-left: 150px;
}

a.link {
	color: #008D00;
	background-color: yellow;
	margin-left: 80px;
}

p a {
	background-color: #FFA400;
}

a:hover { 
	color: #0000FF; 
}



#mutalisk {
	color: rgba(100,0,30,0.4);
}

p.compress {
	padding: 500px;
	margin-top: -500px;
	margin-bottom: -500px;
}