* {
	margin: 0;
	padding: 0;
}

body {
	background: gray;
	font: 16px/1.5 Verdana, Arial, sans-serif;
	padding: 60px;
}

h1, h2, h3, h4, h5, h6 {
	padding-top: 20px;
	padding-bottom: 10px;
	color: white;
}

ol, ul, dl {
	padding-bottom: 20px;
	color: blue;
}

ul, ol {
	padding-top: 10px;
	padding-left: 40px;
}

//ul li ul li { list-style-type: square; }
//ul li ul li ul li { list-style-type: disc; }

//ol li {  }
//ol li ol li { list-style-type: upper-roman; }
//ol li ol li ol li { list-style-type: lower-alpha; }

ul li ol li { 
	background-color: aqua;
}
