table, td, th {
	border:1px solid black;
	background-color: #CEB3D6;
}

th, td {
	color: black;
	padding:10px;
}

#table1 thead th, #table1 tfoot td {
	color: white;
	background-color: #7109AA;
	padding: 4px;
}

#table1 tfoot td{
	font-style:italic;
}