* {
    font-family: Verdana, Arial, sans-serif;
    color: white;
    font-size: 14px;
    line-height: 19px;
}

* body {
    background-color: black;
    background-image:url("img/wall2.jpg");
    background-position: top center;
    background-repeat:no-repeat;
}

h1 {
    margin-top:50px;
    font-size: 5em;
    color:red;
    text-align:center;
}

#emP {
     font-size: 3em;
     text-align:center;
     margin-top:-30px;
}

#firstP {
    margin-right:790px;
    margin-top:100px;
}

p {
    margin-top:25px;
    margin-bottom:25px;
    margin-right:50px;
    margin-left:50px;

    text-align:justify;
}

#topmenu {
    text-align:center;
}

* a {
    color:#EAFF05;
}

* a:hover {
    color:#FF8605;
}

div h2 ol li {
    color:black !important;
}

#Contents {
    border-width:3px;
    border-color:red;
    border-style:solid;
    padding:10px;
    margin-right:1000px;
}
